body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 2.5%;
  border-bottom: 1px solid #F3F3F3;
  background: #F3F3F3;
  color: red;
}
.header img {
  width: 100%;
  height: 100%;
}

/* .content {
  width: 100%;
} */

.content .content-top {
  height: 43px;
  width: 100%;
  background-color: #F3F3F3;
}

.content .content-top input {
  border: none;
  height: 43px;
  background-color: #F3F3F3;
  color: red;
  font-size: 18px;
  outline: none;
}

.content .content-mid {
  width: 100%;
}

.content .content-mid table {
  width: 100%;
  text-align: center;
}

.content .content-mid table th {
  height: 20px;
  border-bottom: 1px solid #ccc;
}

.content .content-mid table td {
  height: 36px;
  border-bottom: 1px solid #ccc;
  padding-left: 8px;
  padding-bottom: 15px;
}

.content .content-mid table td span {
  height: 27px;
  width: 28px;
  padding-left: 1px;
  padding-top: 4px;
  display: block;
}

.content .content-mid table .click{
  border-radius: 20px;
  color: #fff;
  background-color: #000;
}

.content .content-mid table .today {
  border-radius: 20px;
  color: #fff;
  background-color: red;
}

.content .content-mid table .todays {
  border-radius: 20px;
  color: red;
  background-color: #fff;
}

.content .content-bottom {
  width: 100%;
}

.footer {
  height: 43px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #F3F3F3;
  text-align: center;
}

.footer input {
  color: red;
  height: 43px;
  border: none;
  background: #F3F3F3;
  text-align: center;
  font-size: 20px;
  font-family: '微软雅黑';
  outline: none;
}
